.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-productos{
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
  background-color: #4589bd ;
  padding: 4px 30px;
  display: inline-block;
}
.nav-productos ul{
  display: inline-block;
}
.nav-productos ul li{
  list-style: none;
  display: inline-block;
  margin: 0 6px;
}
.nav-productos ul li a{
  color: #00060a;
}

.Cibeles {
  color: #053458 ;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
